In [33]:
#Import Dependencies!
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [34]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [35]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
#NSA URL 
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [6]:
#Scrape the NASA news page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#Collect most recent article, title, date. Save to variables
article = soup.find("div",class_="list_text")
news_p = article.find("div", class_="article_teaser_body").text
news_title = article.find("div", class_="content_title").text


#Print
print(news_title)
print(news_p)

NASA Garners 7 Webby Award Nominations
Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.

In [8]:
#Connect to JRL URL
url2 = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

In [9]:
#Scrape and get the image!
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find("img", class_="thumb")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url

In [10]:
#Connect to Mars Weather twitter
url3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url3)

In [17]:
#Scrape with soup 
w_soup = BeautifulSoup(html, 'html.parser')

#go through the tweets
w_tweet = w_soup.find_all('div', class_="js-tweet-text-container")
for tweet in w_tweet:
    if tweet.text.strip().startswith('Sol'):
        mars_weather = tweet.text.strip()
        #Print out the weather 
        print(mars_weather)

In [18]:
#Connect to Mars Facts webpage
url4 = "http://space-facts.com/mars/"
browser.visit(url4)

In [21]:
#get the table and convert 
mars_df = pd.read_html(url4)
mars_df = (mars_df[0])

In [22]:
#Set up the data frame 
mars_df.columns = ["Description", "Value"]
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
#Convert table to html string using pandas 
mars_df = mars_df.to_html(classes='mars')
table_data = mars_df.replace('\n', ' ')
table_data

'<table border="1" class="dataframe mars">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Description</th>       <th>Value</th>     </tr>   </thead>   <tbody>     <tr>       <th>0</th>       <td>Equatorial Diameter:</td>       <td>6,792 km</td>     </tr>     <tr>       <th>1</th>       <td>Polar Diameter:</td>       <td>6,752 km</td>     </tr>     <tr>       <th>2</th>       <td>Mass:</td>       <td>6.42 x 10^23 kg (10.7% Earth)</td>     </tr>     <tr>       <th>3</th>       <td>Moons:</td>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>4</th>       <td>Orbit Distance:</td>       <td>227,943,824 km (1.52 AU)</td>     </tr>     <tr>       <th>5</th>       <td>Orbit Period:</td>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>6</th>       <td>Surface Temperature:</td>       <td>-153 to 20 °C</td>     </tr>     <tr>       <th>7</th>       <td>First Record:</td>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>8</th>       <td>Recorded By:</td>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

In [38]:
#Connect to USGS Astrogeology
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url5)

In [39]:
#Beautiful Soup!
html=broswer.html
soup = BeautifulSoup(html,'html.parser')
mars_hemi = []

NameError: name 'broswer' is not defined